

{% load staticfiles %}
<!--<!DOCTYPE html>-->
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>User</title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<div id="wrap">
	<a class="button twitter" href= "http://127.0.0.1:8000/login/twitter">

		<i class="fa fa-twitter"></i> Twitter
	</a>

	<a class="button linkedin" href= "https://oauth.vk.com/authorize?client_id=5542391&display=page&redirect_uri=http://127.0.0.1:8000/login/vk&scope=friends&response_type=code&v=5.52">

		<i class="fa fa-linkedin"></i> Vk
	</a>

	<a class="button facebook" href= "https://www.facebook.com/dialog/oauth?client_id=1744462099145501&redirect_uri=http://127.0.0.1:8000/login/facebook&display=popup">

		<i class="fa fa-facebook"></i> Facebook
	</a>

</div>