

{% load staticfiles %}
<!--<!DOCTYPE html>-->
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>User</title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<div id="wrap">
	<a class="button twitter" href= "http://127.0.0.1:8000/twitter">

		<i class="fa fa-twitter"></i> Twitter
	</a>

	<a class="button linkedin" href= "http://127.0.0.1:8000/vk">

		<i class="fa fa-linkedin"></i> Vk
	</a>

	<a class="button facebook" href= "http://127.0.0.1:8000/facebook">

		<i class="fa fa-facebook"></i> Facebook
	</a>

</div>