@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Photoshop Online</h1>
    <p class="lead">Веб-приложение для просмотра и обработки фотографий</p>
    <p><a href="http://localhost:54010/Account/Login" class="btn btn-primary btn-lg">Войти &raquo;</a></p>




</div>



<div class="row">
    <div class="col-md-4">
        <h2>Загрузите фотографии</h2>
        <p>
            Загрузите ваши фотографии на облако для доступа из любой точки
        </p>
    </div>
    <div class="col-md-4">
        <h2>Измените</h2>
        <p>Воспользуйтесь редактором Fabric для изменения выших фото</p>
    </div>
    <div class="col-md-4">
        <h2>Слайдшоу</h2>
        <p>Используйте просмотр фотографий с помощью слайдшоу</p>
    </div>
</div>

<script>
    //File Upload response from the server
    Dropzone.options.dropzoneForm = {
        init: function () {
            this.on("complete", function (data) {
                //var res = eval('(' + data.xhr.responseText + ')');
                var res = JSON.parse(data.xhr.responseText);
            });
        }
    };
</script>