@model IEnumerable<cloudweb.Models.Table>

@{
    ViewBag.Title = "Мои фотографии";
}


<h2>Мои фотографии</h2>

<div class="jumbotron" id="content" style="border:dotted; border-color:black">
    <form action="~/Home/SaveUploadedFile" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm" style="border:dotted; background: none; border: none;">
        <div class="fallback">
            <input name="file" type="file" multiple />
            <input type="submit" value="Upload" />
        </div>
    </form>
</div>



<head>
    <script>

        var button_beg = '<button id="button" class="btn btn-primary" onclick="showhide()">', button_end = '</button>';
    var show_button = 'Загрузить фотографии', hide_button = 'Назад';
    function showhide() {
        var div = document.getElementById("content");
        var showhide = document.getElementById( "showhide" );
        if ( div.style.display !== "none" ) {
            div.style.display = "none";
            button = show_button;
            showhide.innerHTML = button_beg + button + button_end;
        } else {
            div.style.display = "block";
            button = hide_button;
            showhide.innerHTML = button_beg + button + button_end;
        }
    }
    function setup_button( status ) {
        if ( status == 'show' ) {
            button = hide_button;
        } else {
            button = show_button;
        }
        var showhide = document.getElementById( "showhide" );
        showhide.innerHTML = button_beg + button + button_end;
    }
    window.onload = function () {
        setup_button( 'hide' );
        showhide(); // if setup_button is set to 'show' comment this line
    }
    </script>
</head>

    @*<div id="showhide"></div>*@

    


<div style="width: 100%;">
    @if (Model.Count() > 0)
    {   
        <table style="width:100%; border-collapse: separate; border-spacing: 5px;">
            @for (int i = 0; i < Model.Count(); i += 4)
            {
                <tr>
                    @for (int j = i; (j < i + 4) && (j < Model.Count()); j++)
                    {
                        <td>
                            <div class="homeUserGalleryPhotoContainer">
                                @Html.Raw(@Html.ActionLink("{test}", "RedactPhoto", "Home", new { id = Model.ElementAt(j).Id }, new { @class = "" }).ToHtmlString().Replace("{test}", "<img style=\"width:220px; height:220px\" src=\"http://res.cloudinary.com/" + @Model.ElementAt(j).path + "\"/>"))
                            </div>
                        </td>
                    }
                </tr>
            }
        </table>
    }
    else
    {
        <h3>У этого пользователя еще нет фотографий.</h3>
    }
</div>

<script>

    Dropzone.options.dropzoneForm = {
        maxFiles: 10,
        init: function () {
            this.on("maxfilesexceeded", function (data) {
                var res = eval('(' + data.xhr.responseText + ')');
            });
            this.on("addedfile", function (file) {
                var removeButton = Dropzone.createElement("<button>Remove file</button>");
                var _this = this;
                removeButton.addEventListener("click", function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                    _this.removeFile(file);
                });                
                file.previewElement.appendChild(removeButton);
            });
        }
    };
</script>


@*<script>

    $(document).ready(function () {
        $('#hideshow').live('click', function (event) {
            $('#content').toggle('show');
        });
    });
    </script>*@